<link rel="stylesheet" href="/stylesheet/home.css">
<nav class="navbar noshadow navbar-expand-lg navbar-light position-control scrolling-navbar smooth ">
<a class="navbar-brand mr-0" href="#" >
  <img src="svg/logo.svg" height="130" alt="logo" class="l1 mr-4 d-sm-none d-lg-inline-block d-md-inline-block d-none  " style="margin-left: 50px">
  
  <img src="svg/logo.svg" height="40" alt="logo" class=" mr-0 d-inline-block d-lg-none d-md-none ">
</a>
<a class="navbar-brand mt-2 " href="#">
  <object data="svg/name.svg" type="image/svg+xml" height="50" alt="logo" class=" l2  d-sm-none d-lg-inline-block d-none ml-5 d-md-inline-block"></object>
  <object data="svg/name.svg" type="image/svg+xml" height="20" alt="logo" class=" d-inline-block d-lg-none d-md-none "></object>
</a>
<button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav ml-auto  ">
    <li class="nav-item ml-2 mr-2">
      <a class="nav-link scheme-text " href="http://localhost:{{port}}/">Home</a>
    </li>
  </ul>
</div>
</nav>
<div class="container-fluid py-4  lighten-5 "id="About">
  <div class="row mt-4" >
    <div class="col-lg-1 d-none d-lg-block pl-2">
    </div>
    
    <div class="col-lg-3 mx-2 mt-5 ">
      <object data="svg/hammer-man-text.svg" type="image/svg+xml" class="" style="height:200px;" >
      </object>
  
      <p class="smallFront ml-1 text-justify ">

        We are a team of enthusiasts who strive towards providing home amenities services beneficial to the local population. We have the expertise to solve your day to day problems and be at your services whenever you need. 
      </p>
    </div>
    <div class="col-lg-1 d-none d-lg-block pl-2">
    </div>
    <div class="col-lg-6 ml-2 mt-5">
      <div class="row pl-1">
        <div class="col-md-6">
            <img src="svg/service1.png"  class="my-4"alt="">
            <h3>Location Free</h3>
            <p>Our service is location independent.We provide services across the
                globe </p>
        </div>
        <div class="col-md-6">
            <img src="svg/service2.png" class="my-4" alt="">
            <h3>Verified workers</h3>
            <p>We Verified all worker that are linked through our company.For checking purpose we provide special code to our worker</p>
        </div>
        <div class="col-md-6">
          <img src="svg/service3.png"  class="my-4"alt="">
          <h3>24 Hours Service</h3>
          <p>From neight to day ,From season to season</p>
        </div>
        <div class="col-md-6">
          <img src="svg/service4.png"  class="my-4"alt="">
          <h3>Value for Money</h3>
          <p>Our services are at  affordable price,So anyone can afford without worry about budget. </p>
        </div>	
      </div>
    </div>
  </div>
</div>

<table class = "table table-borderless text-center">
  <tr>
    <td>
      <b>Founded</b><br>
      January 2019
    </td>
    <td>
      <b>Founder</b>
      <br>
      Hunny, Krishna, Badal
    </td>
    <td></td>
</table>
