<link rel="stylesheet" href="../stylesheets/feedback.css">
<div class="contact-section">

  <h1>Provide us with your valuable feedback</h1>
  <div class="border"></div>
  <form class="contact-form" action="index.html" method="post">
    <input type="text" class="contact-form-text" placeholder="Your name" name="name">
    <input type="email" class="contact-form-text" placeholder="Your email" name="email">
    <input type="text" class="contact-form-text" placeholder="Your phone" name="phone">
    <textarea class="contact-form-text" placeholder="Your message" name="message"></textarea>
    <input type="submit" class="contact-form-btn" value="Send">
  </form>
</div>