<link rel="stylesheet" href="/stylesheets/home.css">
<style>
  .btn-btn-background{
  -moz-user-select:none;
  background-image: -webkit-linear-gradient(145deg ,#faa61f 0% , #faa61f 0% , #ed1847 100%);
  border:1px solid #bfa67a;
  border-radius: 0.5rem;
  color:#ffffff;
  cursor:pointer;
  display: inline-block;
  font-size:15px;
  line-height: 1.42857;
  margin-bottom:0;
  padding:12px 0px;
  text-align:center;
  text-transform:uppercase;
  transition:all 0.5s ease 0s;
  vertical-align: middle;
  padding:15px;
  

}
.btn-btn-background:hover{
  text-decoration: none;
  color:#272627;
  background:white;
}
.custom-bg{
  background:#2c3e50;
  border-radius:0.5rem;
}
.custom-text{
  
  font-size:1.5rem;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  align-content: center;
  text-align: center;
}
hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
</style>
<script>//for loader
  $(document).ready(function(){
    console.log("true");

    $(".body-1").delay(1000).hide(100);
    $(".body-2").delay(1880).show(500);
    setTimeout(function(){
      $("body").css("overflow", "visible"); 
    },1000)
    
      remove()


  })
  function remove(){
    $(".navbar").delay(300).removeClass("bg-dark")
  }
</script>
<div class="body-1">
<center><div id="loader-div"style="padding-top:10%;">
  <img src="svg/logo.svg" height="300" alt="logo" class="animated pulse infinite" >
  
  <h5 href ="#" id="loader" class="animated pulse mt-2 infinite white-text">LOADING...</h5></div></center>

</div>
<div class="body-2">
<div class=" big ">
  
<nav class="navbar noshadow navbar-expand-lg navbar-light position-control scrolling-navbar smooth ">
<a class="navbar-brand mr-0" href="#" >
  <img src="svg/logo.svg" height="130" alt="logo" class="l1 mr-4 d-sm-none d-lg-inline-block d-md-inline-block d-none  " style="margin-left: 50px">
  
  <img src="svg/logo.svg" height="40" alt="logo" class=" mr-0 d-inline-block d-lg-none d-md-none ">
</a>
<a class="navbar-brand mt-2 " href="#">
  <object data="svg/name.svg" type="image/svg+xml" height="50" alt="logo" class=" l2  d-sm-none d-lg-inline-block d-none ml-5 d-md-inline-block"></object>
  <object data="svg/name.svg" type="image/svg+xml" height="20" alt="logo" class=" d-inline-block d-lg-none d-md-none "></object>
</a>
<button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav ml-auto  ">
    <li class='nav-item ml-2 mr-2'>
      <a class="nav-link scheme-text " href="http://localhost:{{port}}/login" >Login</a>
    </li>
  </ul>
</div>
</nav>

  <div class='container  '>
  <div class="row mt-5 ml-1  pb-0">
    <div class="col-md-7 d-lg-none d-sm-block d-md-none " >
      <img class="img-fluid mt-5 " src="svg/graphics.svg">
    </div>
    <div class="col-md-5 mt-2  ">
      <div class="d-none d-lg-block d-md-block">
      <object data="svg/message.svg" type="image/svg+xml"  class="embed-responsive-item ">
        
      </object>
      <a class="btn-btn-background m-3" href="http://localhost:{{port}}/hire"  >I want to Hire</a>
    <a class="btn-btn-background m-3" href="http://localhost:{{port}}/work">I want to Work</a>
      
    </div>
 
    
  </div>
    <div class="col-md-7  d-none d-lg-block d-md-block" >
      <img class="img-fluid  " src="svg/graphics.svg">
    </div>

</div></div></div>

<hr>
<div class="container-fluid py-4  lighten-5 "id="About">
  <div class="row mt-4" >
    <div class="col-lg-1 d-none d-lg-block pl-2">
    </div>
    
    <div class="col-lg-3 mx-2 mt-5 ">
      <object data="svg/hammer-man-text.svg" type="image/svg+xml" class="" style="height:200px;" >
      </object>
  
      <p class="smallFront ml-1 text-justify ">

        We are a team of enthusiasts who strive towards providing home amenities services beneficial to the local population. We have the expertise to solve your day to day problems and be at your services whenever you need. 
      </p>
    </div>
    <div class="col-lg-1 d-none d-lg-block pl-2">
    </div>
    <div class="col-lg-6 ml-2 mt-5">
      <div class="row pl-1">
        <div class="col-md-6">
            <img src="svg/service1.png"  class="my-4"alt="">
            <h3>Location Free</h3>
            <p>Our service is location independent.We provide services across the
                globe </p>
        </div>
        <div class="col-md-6">
            <img src="svg/service2.png" class="my-4" alt="">
            <h3>Verified workers</h3>
            <p>We Verified all worker that are linked through our company.For checking purpose we provide special code to our worker</p>
        </div>
        <div class="col-md-6">
          <img src="svg/service3.png"  class="my-4"alt="">
          <h3>24 Hours Service</h3>
          <p>From neight to day ,From season to season</p>
        </div>
        <div class="col-md-6">
          <img src="svg/service4.png"  class="my-4"alt="">
          <h3>Value for Money</h3>
          <p>Our services are at  affordable price,So anyone can afford without worry about budget. </p>
        </div>	
      </div>
    </div>
  </div>
</div>
<hr>

<div class="container-fluid py-4  lighten-5 "id="About">
  <div class="row mt-4" >
    <div class="col-lg-1 d-none d-lg-block pl-2">
    </div>
    
    <div class="col-lg-3 mx-2 mt-5 ">
      <img src="/images/best.png" height = '200px' alt="">
    </div>
    <div class="col-lg-1 d-none d-lg-block pl-2">
    </div>
    <div class="col-lg-6 ml-2 mt-5">
      <p class = 'custom-text'>
        What makes us undeniably good is our core philosophy of getting the best minds in the business, measured by various standards.
      </p>
    </div>
  </div>
</div>


